<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :reservation_time %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :reservation_location %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :reservation_date %>
  </div>

  <div class="field">
    <%= form.label :guest_id %>
    <%= form.text_field :guest_id, id: :reservation_guest_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
